* {
  margin:0; padding:0;
}

p {
text-align: center;
font-size: 40px;
}

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #84BD00;
    align-items: center;
}

.img {
text-align : center;
}

.copy {
  color:#ffffff;
  text-decoration: none;
  font-size: 20px;
}

.header-menu{
  color:#ffffff;
  font-size: 40px;
  text-decoration: none;
}

.title {
  margin-right: auto;
}

.menu-item {
  list-style: none;
  display: inline-block;
  font-weight:  bold;
}

body {
    background-color:#C4D600;
}

header .headline{
  font-size: 64px;
}
.nav-list {
  text-align: center;
  padding: 20px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 40px;
}
footer {
    bottom: 0; /*下に固定*/
  width: 100%;
  height: 180px; 
  text-align: center;
  padding: 20px 0;
  background-color: #84BD00;
}
.footer-text {
  color: #ffffff;
}

.noline{
  color:#ffffff;
  display: inline-block;
  font-weight:  bold;
  font-size: 32px;
}